/* Custom player style */
#section3 midi-player {
    display: block;
    width: inherit;
    margin: 4px;
  }
  #section3 midi-player::part(control-panel) {
    background: rgb(255, 255, 255);
    border: 2px solid rgb(44, 44, 44);
    border-top: none;
    border-radius: 0 0 10px 10px;
  }
  #section3 midi-player::part(play-button) {
    color: rgb(85, 85, 85);
    border: 2px solid currentColor;
    background-color: rgb(221, 221, 221);
    border-radius: 20px;
    transition: all 0.2s;
    content: 'hello';
  }
  #section3 midi-player::part(play-button):hover {
    color: rgb(85, 85, 85);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
  }
  #section3 midi-player::part(time) {
    font-family: monospace;
  }
  
  /* Custom visualizer style */
  #section3 midi-visualizer .piano-roll-visualizer {
    background: rgb(255, 255, 255);
    border: 2px solid rgb(44, 44, 44);
    border-radius: 10px 10px 0 0;
    margin: 4px;
    margin-top: 10px;
    margin-bottom: -4px;
    overflow: auto;
  }
  #section3 midi-visualizer svg rect.note {
    opacity: 0.6;
    stroke-width: 2;
  }
  #section3 midi-visualizer svg rect.note[data-instrument="0"]{
    fill: #e22;
    stroke: #500;
  }
  #section3 midi-visualizer svg rect.note[data-instrument="2"]{
    fill: #2ee;
    stroke: #055;
  }
  #section3 midi-visualizer svg rect.note[data-is-drum="true"]{
    fill: #888;
    stroke: #888;
  }
  #section3 midi-visualizer svg rect.note.active {
    opacity: 0.9;
    stroke: #000;
  }